{% extends './base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-12 ">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Buscar Caso</h5>
                    <div class="search-bar mt-2">
                        
                        <input type="text" class="form-control" id="search-case" placeholder="Escriba aqui el contenedor del caso para buscarlo" title="Enter search keyword">
                        
                        
                    </div><!-- End Search Bar -->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body table-responsive">
                    <div class="row mb-2">
                        <div class="col-md-11">
                            <h5 class="card-title">Todos los Casos</h5>
                        </div>
                        <div class="col-md-1">
                            <button class="mt-2 btn btn-sm btn-info" data-bs-toggle="modal" data-bs-target="#modalAddNewCase">Reload</button>
                        </div>
                    </div>
                    <table class="table mt-2 display" id="tableCases">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>DESCRIPCION</th>
                                <th>FECHA</th>
                                <th>OPCIONES</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="modals">
        <div class="modal fade" id="modalAddNewCase" tabindex="-1">
            <div class="modal-dialog modal-xl">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title"><b>AGREGAR NUEVO CASO</b></h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label for=""><b>SOLICITANTE:</b></label>
                            <input type="text" class="form-control" value="{{session['name']}}" disabled>
                        </div>
                        <div class="col-md-6">
                            <label for=""><b>AREA SOLICITANTE:</b></label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-12">
                            <label for=""><b>DESCRIPCIÓN DEL CASO</b></label>
                            <textarea name="" id="" cols="30" rows="4" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <label for=""><b>TIPO DE DAÑO:</b></label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <label for=""><b>ASIGNAR AL AREA:</b></label>
                            <select name="" id="" class="form-select">
                                <option value="TECNOLOGÍA">TECNOLOGÍA</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <button id="createNewCase" class="btn btn-sm btn-info form-control">CREAR NUEVO CASO</button>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div><!-- End Extra Large Modal-->
    </div>
    <script src="{{ url_for('static', filename='js/jquery.js' ) }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
    <script src="{{ url_for('static', filename='js/cases/query_cases.js' ) }}"></script>
{% endblock %}
